{% extends 'base.html' %}

{% block title %} {{announcement.title_tag}} {% endblock %}

{% block content %}

<h1>{{ announcement.title }}</h1>
<small> By:
    {{ announcement.author }}
    {{ announcement.publication_datetime }}

    {% if user.id == announcement.author.id %}
    <a href="{% url 'update_announcement' announcement.pk %}">Редактировать объявление</a></small>
    <small><a href="{% url 'delete_announcement' announcement.pk %}">Удалить объявление</a></small>
<br/>
    {% endif %}

    <br/>

    {{ announcement.text|safe }}
    <br/>

    Категории объявления:    
    {% for cat in announcement.category.all %}
        {{ cat }}
    {% endfor  %}

{% if announcement.image %}
    <img src="{{ announcement.image.url }}"><br/>
{% endif %}

<br/><br/>

<a href="{% url 'board' %}" class="btn btn-secondary">Back</a>

<br/><br/><br/>



<hr>

<h3>Отклики:</h3>
<br/>

{% if not announcement.responses.all %}
    <p>Пока никто не откликнулся на это объявление</p>
    <a href="{% url 'add_response' announcement.pk %}">Добавить отклик</a>

{% else %}
    <a href="{% url 'add_response' announcement.pk %}">Добавить отклик</a><br/><br/>
    
    {% for res in announcement.responses.all %}
        <strong>{{ res.name }} - {{ res.datetime_added }}</strong><br/>

        {{ res.text }}<br/>
        <hr>

    {% endfor %}

{% endif %}

{% endblock %}
