{% extends 'base.html' %}

{% block title %} Разместить новое объявление {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Разместить новое объявление</h1>
    <br>
    <div class="mb-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class='btn btn-secondary'>Разместить объявление</button>
        </form>
    </div>

    <script>
        const name = '{{ user.id }}';
        document.getElementById('unique_id').value = name;
    </script>

{% else %}
        <div class="mb-3">
            <p>Сначала авторизуйтесь</p>
            <a class='btn btn-secondary' href='{% url 'login' %}'>Войти<a/>
        </div>
{% endif %}




{% endblock %}