{% extends 'base.html' %}

{% block content %}

<br/>
<h1>Последние объявления</h1>
<br/>

<ul>
{% for announcement in object_list %}
    <li>
        <a href='{% url 'announcement_details' announcement.pk %}'>{{announcement.title}}</a>
        {{announcement.author}}

        
        {% if user.id == announcement.author.id %}
            <small><a href="{% url 'update_announcement' announcement.pk %}">Редактировать объявление</a></small>
            <small><a href="{% url 'delete_announcement' announcement.pk %}">Удалить объявление</a></small>
        
        {% endif %}
<br/>
        {{announcement.text|slice:":200"}}
        <hr>
    </li>
{% endfor %}
<ul/>

{% endblock %}